/env

__pycache__
/img_data



/sample_outputs/*.jpg
/sample_outputs/*.png

model.pth
originals.npy
/wandb
sketches.npy
wandb.ipynb
wandb_test.py
*.jpg
wandb_test.py
/.ipynb_checkpoints


/original/*.jpg
/original/*.png

/sketches/*.jpg
/sketches/*.png

/model_files/*.pth


wandb_example_run.ipynb
wandb_example_run.ipynb
